*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: darkblue;

    
}
#input{
    width: 300px;
    height: 30px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    margin: 20px 0;
    font-weight: 500;
}
.list{
    width: 500px;
}
.delete{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    background: red;
    cursor: pointer;
    border: none;
    height: 20px;
}
ul{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


ul li{
    width: 100%;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

ul li span{
    width: 80%;
}

.add{
    width: 120px;
    height: 30px;
    border: none;
    background: green;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.allDelete{
    width: 120px;
    height: 30px;
    border: none;
    background: red;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.allDelete:disabled{
    background: gray;
}
.add:disabled{
    background: gray;
}

.li:hover{
    background: red;
    color: white;
}
.li:hover .delete{
    background: white;
    color: #000;
}